/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-abr-2015, 17:42:33
    Author     : Julia
*/
.fuente_30{
    font-size: 30px;
}
.bot{
    line-height: 200%;
    margin-top: 51px;
    color: #FC6344;
    
}
.bot:hover{
    line-height: 200%;
    margin-top: 51px;
    background-color:  #2d9da0;;
}
.panel-body {
    padding: 0px; 
}
.cabecera h1{  
    font-size: 90px;
    margin: 0px;
    line-height: 130px;
}

.border{
    border: 1px solid black; 
}
.container{
    text-align: center; 
    margin-top: 10px;
}

.line-height-header {
    line-height: 770%;
}
.link_footer{
    font-size: 17px; 
    font-family: 'Yanone Kaffeesatz', sans-serif; 
}
.margen{
    margin-top: -15px;
}
.morado_logo{color: #4c1131;font-family: 'Yanone Kaffeesatz', sans-serif; }
.azul_logo{background-color: #c7f0e5;font-family: 'Yanone Kaffeesatz', sans-serif;  }
.azul_logo2{color: #247d84; font-family: 'Yanone Kaffeesatz', sans-serif; }
.naranja_logo{color: #FC6344; font-weight: bold;font-family: 'Yanone Kaffeesatz', sans-serif; }
.yellow{color: yellow; font-size: 40px;font-family: 'Yanone Kaffeesatz', sans-serif; }

.border_main{
    border: 1px solid #247d84;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 20px;
    box-shadow: 0px #247d84;
}

.border_main:hover{
    border: 3px solid #4c1131;
    background-color: #f1f1f1;
    opacity: 0.9;
}
.border_redondo {
    border-radius: 15px;
    border: 1px solid #4c1131;   
    box-shadow: 0px #247d84;
}
.oculto { display: none; }
.visible{ 
    display: inline-block; 
    position: relative;
    top: 100px;
    left: 80px; 
}
